

h1 {
  
  text-align: center;
  font-family: afronaut, sans-serif;
  font-size: 70px;
}

p {
  font-family: afronaut, sans-serif;
  font-size: 20px;
  text-align: center;
  color: gray;
}


p.body{
  font-family: afronaut, sans-serif;
  font-size: 25px;
  text-align: center;
  color: black;
}

p.season{
  font-family: afronaut, sans-serif;
  font-size: 20px;
  text-align: center;
  color: black;
}

a {
  text-decoration: none;
  font-family: afronaut, sans-serif;
  font-size: 15px;
  text-align: center;
  color: darkgray;
}

body {
  margin: 0;
  padding: 0;
  overflow: auto;
}
.container {

  background: linear-gradient(90deg, #d12828, #ffdaab, #ddffab, #abe4ff, #7e0ddc);
  background-size: 300% 300%;
  box-sizing: border-box;
  display: table;
  height: 100vh;
  margin: 0;
  position: relative;
  width: 100vw;
  -webkit-animation: Rainbow 25s ease infinite;
  -moz-animation: Rainbow 25s ease infinite;
  animation: Rainbow 25s ease infinite;
}

@-webkit-keyframes Rainbow {
  0% {
    background-position: 94% 0%; }
  50% {
    background-position: 7% 100%; }
  100% {
    background-position: 94% 0%; } }


    	